.azeret-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style:normal;
  }
  .btn-primary{
     background-color: white;
     border-color: #0D1321;
     font-size: 20;
     font-weight: bold;
     border-radius: px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
  }
  .nav-title{
    font-weight: 800;
    font-size: 28px;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav li a{
    text-decoration: none;
    font-size: 20px;
  }
  nav ul li{
list-style: none;
  }
  .banner {
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .secondary-image{
    position: absolute;
    top:20px;
  }

  .banner-text{
    font-size: 48px;
    color: black;
    text-shadow: #0D1321;
    margin-bottom: 50px;
    position: absolute;
    margin-top: 160px;
  }
  .banner-button {
    background-color: #0D1321;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 45px;
    margin-top: 0; 
  }
  .banner-paragraph{
    font-size: 16;
    color: #0D1321;
    position: absolute;
    margin-top: 250px;


  }